.animated
  @include animation-fill-mode(both)



@include keyframes(blink)
  30%
    @include transform(rotateX(0deg))


.blink
  @include animation-name(blink)
  @include animation-duration(.25s)



@include keyframes(shadow-pulse)
  0%
    box-shadow: 0 0 0 rgba(0,0,0,0)

  50%
    box-shadow: 0 13px 21px rgba(0,0,0,0.25)


.shadow-pulse
  @include animation-name(shadow-pulse)
  @include animation-duration(4s)
  @include animation-iteration-count(infinite)

.shadow-pulse-delay
  @include animation-name(shadow-pulse)
  @include animation-duration(4s)
  @include animation-iteration-count(infinite)
  @include animation-delay(2s)


@include keyframes(pulse)
  from
    @include transform(scale3d(1, 1, 1))
    opacity: 0.5

  50%
    @include transform(scale3d(1.05, 1.05, 1.05))
    opacity: 1
    letter-spacing: 1.5px

  to
    @include transform(scale3d(1, 1, 1))
    opacity: 0.5


.pulse
  @include animation-name(pulse)
  @include animation-duration(2.5s)
  @include animation-iteration-count(infinite)



@include keyframes(pulse-pink)
  0%
    box-shadow: 0 0 0 0 rgba(255, 60, 118, 0)


  50%
    box-shadow: 0 0 30px 10px rgba(255, 60, 118, 0.5)
    opacity: 1


.pulse-pink
  @include animation-name(pulse-pink)
  @include animation-duration(1s)


@include keyframes(pulse-green)
  0%
    box-shadow: 0 0 0 0 rgba(51, 180, 127, 0)

  50%
    box-shadow: 0 0 30px 10px rgba(51, 180, 127, 0.9)
    opacity: 1


.pulse-green
  @include animation-name(pulse-green)
  @include animation-duration(1s)


@include keyframes(pulse-cyan)
  0%
    box-shadow: 0 0 0 0 rgba(60, 252, 255, 0)

  50%
    box-shadow: 0 0 30px 10px rgba(60, 252, 255, 0.5)
    opacity: 1


.pulse-cyan
  @include animation-name(pulse-cyan)
  @include animation-duration(1s)



@include keyframes(flash)
  from, 50%, to
    opacity: 1

  25%, 75%
    opacity: 0


.flash
  @include animation-name(flash)
  @include animation-duration(1s)


@include keyframes(fadeIn)
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  @include animation-name(fadeIn)
  @include animation-duration(1s)


@include keyframes(fadeInLeft)
  from
    opacity: 0
    @include transform(translate3d(-100%, 0, 0))

  to
    opacity: 1
    @include transform(none)


@include keyframes(fadeInUp)
  from
    opacity: 0
    @include transform(translate3d(0, 300px, 0))
    font-size: 1px

  to
    opacity: 1
    @include transform(none)


.fadeInUp
  @include animation-name(fadeInUp)
  @include animation-duration(1s)


.fadeInLeft
  @include animation-name(fadeInLeft)
  @include animation-duration(1s)


@include keyframes(fadeInRight)
  from
    opacity: 0
    @include transform(translate3d(100%, 0, 0))

  to
    opacity: 1
    @include transform(none)


.fadeInRight
  @include animation-name(fadeInRight)
  @include animation-duration(1s)



@include keyframes(flip)
  from
    @include transform(perspective(400px) rotate3d(0, 1, 0, -360deg))
    @include animation-timing-function(ease-out)

  40%
    @include transform(perspective(400px) translate3d(0, -20px, 150px) rotate3d(0, 1, 0, -190deg))
    @include animation-timing-function(ease-out)

  50%
    @include transform(perspective(400px) translate3d(0, -20px, 150px) rotate3d(0, 1, 0, -170deg))
    @include animation-timing-function(ease-in)

  80%
    @include transform(perspective(400px) scale3d(.95, .95, .95))
    @include animation-timing-function(ease-in)

  to
    @include transform(perspective(400px))
    @include animation-timing-function(ease-in)


.animated.flip
  @include backface-visibility(visible)
  @include animation-name(flip)
  @include animation-duration(0.5s)



@include keyframes(bounceInUp)
  from, 60%, 75%, 90%, to
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000))

  from
    opacity: 0
    @include transform(translate3d(0, 500px, 0))

  60%
    opacity: 1
    @include transform(translate3d(0, -20px, 0))

  75%
    @include transform(translate3d(0, 10px, 0))

  90%
    @include transform(translate3d(0, -5px, 0))

  to
    @include transform(translate3d(0, 0, 0))


.bounceInUp
  @include animation-name(bounceInUp)
  @include animation-duration(0.8s)


@include keyframes (bounceInDown)
  from, 60%, 75%, 90%, to
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000))

  0%
    opacity: 0
    @include transform(translate3d(0, -3000px, 0))

  60%
    opacity: 1
    @include transform(translate3d(0, 0, 0))

  75%
    @include transform(translate3d(0, 0, 0))

  90%
    @include transform(translate3d(0, 0, 0))

  to
    @include transform(none)


.bounceInDown
  @include animation-name(bounceInDown)
  @include animation-duration(1s)


@include keyframes (bounceInDown2)
  from, 60%, 75%, 90%, to
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000))

  0%
    opacity: 0
    @include transform(translate3d(0, -3000px, 0))

  60%
    opacity: 1
    @include transform(translate3d(0, 0, 0))
    margin-top: 35px

  75%
    @include transform(translate3d(0, 0, 0))
    margin-top: -10px

  90%
    @include transform(translate3d(0, 0, 0))
    margin-top: 10px

  to
    @include transform(none)


.bounceInDown2
  @include animation-name(bounceInDown2)
  @include animation-duration(1s)



@include keyframes(slideOutUp)
  0%
    opacity: 1
    @include transform(translate3d(0, 0 0))

  10%
    opacity: 1
    @include transform(translate3d(0, 0, 0))


  100%
    opacity: 0
    @include transform(translate3d(0, -3000px, 0))


.slideOutUp
  @include animation-name(slideOutUp)
  @include animation-duration(1s)


@include keyframes(slideOutUp2)
  0%
    opacity: 1
    @include transform(translate3d(0, 0 0))

  10%
    opacity: 1
    @include transform(translate3d(0, 0, 0))
    margin-top: 25px


  100%
    opacity: 0
    @include transform(translate3d(0, -3000px, 0))


.slideOutUp2
  @include animation-name(slideOutUp2)
  @include animation-duration(1s)
