$blue: #0090FF
$deepBlue: #14233A
$font: 'Roboto', sans-serif
$font2: 'Libre Baskerville', serif
$grey: #979797
$grey2: #7F7F7F
$greyBlue: #2B313A
$midnight:#132234
$mint: #00F56B
$lightGrey: #E5E5E5
$pink: #FF3C76
$textGrey: #4C4C4C
$textGreyLight: #C4C4C4
$white: #ffffff
