body
  font-family: $font
  text-align: center
  position: relative

  nav
    background: rgba(0,0,0,0.6)
    position: fixed
    width: 100%
    height: 52px
    text-align: left
    z-index: 1

    #eyelight-logo
      background:
        image: url(http://eyelight.s3-us-west-2.amazonaws.com/assets/img/eyelight-icon.png)
      display: inline-block
      width: 53px
      height: 52px
      position: relative

      #blink
        background: $pink
        width: 30.5px
        height: 31px
        border-radius: 50%
        position: absolute
        top: 11px
        left: 11px
        transition: all 300ms ease-in-out
        @include transform(rotateX(90deg))
        @include transform-origin(50% 0%)

        #blink.blink
          height: 31px

    h1
      display: inline-block
      margin: 0
      padding: 8px 0
      vertical-align: top
      color: $white
      font-weight: 100
      font-size: 30px

    a
      text-decoration: none

    #about-link
      float: right
      color: $pink
      background: rgba(0,0,0,0.4)
      font-size: 14px
      padding: 7px 27px
      border-radius: 5px
      display: inline-block
      margin: 11px 11px 0 0

      &:hover
        background: rgba(200,200,200,0.15)
        transition: all 200ms ease-in-out

  section#hero
    height: 673px
    background:
      image: url(http://eyelight.s3-us-west-2.amazonaws.com/assets/img/hero-bg.jpg)
    color: $white
    @include display(flex)
    @include align-items(center)
    @include justify-content(center)

    #mobileContent
      display: none

    h2
      margin: 9px
      font-size: 64px
      font-weight: 400
      @include animation-delay(0s)

    p
      margin: 0
      font-size: 20px
      font-weight: 100
      opacity: 0.8
      @include animation-delay(0.05s)

    .cta
      border: 1px solid rgba($white, 0.45)
      margin-top: 84px
      @include animation-delay(0.1s)

  main
    .container
      max-width: 1078px
      margin: 0 auto
      padding: 0 20px

      h2,
      h3
        font-size: 64px
        font-weight: 300

      h3
        opacity: 0.65

      p
        max-width: 580px
        margin: 0 auto 77px
        font-weight: 300
        opacity: 0

        span
          opacity: 0
          font-weight: 600

    #app-highlights-img
      display: none

    .app-highlights
      position: relative
      padding-top: 50px
      max-width: 1215px
      height: 480px
      margin: 0 auto

      #appFace
        position: absolute
        top: 75px
        right: 280px

      .dot
        position: absolute
        border-radius: 50%
        opacity: 0.6
        cursor: pointer
        z-index: 1

      #pinkDot
        top: 255px
        right: 700px
        @include animation(pulse-pink 2.5s infinite)

      #cyanDot
        top: 335px
        right: 640px
        @include animation(pulse-cyan 2.5s 0.33s infinite)

      #greenDot
        top: 170px
        right: 435px
        @include animation(pulse-green 2.5s 0.66s infinite)

      #pinkDot.activeHighlight,
      #cyanDot.activeHighlight,
      #greenDot.activeHighlight
        @include animation(none)
        opacity: 1

      .path
        position: absolute
        opacity: 0
        transition: all 50ms linear

      #pinkPath.activePath,
      #cyanPath.activePath,
      #greenPath.activePath
        opacity: 1
        transition: all 200ms linear

      #pinkPath
        top: 39px
        right: 705px

      #cyanPath
        top: 339px
        right: 425px

      #greenPath
        top: 15px
        right: 300px

      .FAQ
        position: absolute
        text-align: left
        opacity: 0

      #pinkFAQ.activeFAQ,
      #cyanFAQ.activeFAQ,
      #greenFAQ.activeFAQ
        opacity: 1
        transition: all 500ms linear

        p
          margin: 0

        .question
          font-size: 18px
          font-weight: 600
          line-height: 2

        .answer
          font-size: 14px
          font-weight: 300
          line-height: 1.25

      #pinkFAQ
        width: 295px
        right: 810px
        top: 20px

        .question
          color: $pink

      #cyanFAQ
        width: 410px
        right: 0
        top: 322px

        .question
          color: $cyan

      #greenFAQ
        width: 260px
        right: 30px
        top: 0

        .question
          color: $green

    .container
      .row
        @include display(flex)
        @include align-items(center)
        @include justify-content(space-around)
        max-width: 730px
        margin: 0 auto 50px

        .platform
          border-radius: 50%
          width: 277px
          height: 277px
          @include display(flex)
          @include align-items(center)
          @include justify-content(center)
          opacity: 0

        .platform.shadow-pulse
          @include animation(fadeInLeft 1.5s, shadow-pulse 4s 1s infinite)
          opacity: 1

        .platform.shadow-pulse-delay
          @include animation(fadeInRight 1.5s, shadow-pulse 4s 3s infinite)
          opacity: 1

      .cta
        background: $pink
        margin: 71px 0 92px


  footer
    background: $greyBlue
    height: 180px
    @include display(flex)
    @include flex-direction(column)
    @include align-items(center)
    @include justify-content(center)

    a
      text-decoration: none
      display: block
      color: $textGreyLight
      font-size: 14px
      font-weight: 100

      &:hover
        color: $textGrey
        transition: all 200ms ease-in-out

    a#twitter
      font-size: 40px
      margin-bottom: 27px

  .cta
    text-decoration: none
    color: $white
    border-radius: 6px
    padding: 15px 75px
    display: inline-block

  // Overlay
  .overlay
    background: rgba(0,0,0,0.75)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    opacity: 0
    pointer-events: none
    transition: all 700ms ease-in-out

    &.is-open
      opacity: 1
      pointer-events: auto

      .modal
        @include transform(translateY(0))

  .modal
    @include transform(translateY(-1000px))
    transition: all 600ms ease-in-out
    max-width: 100%
    background: $lightGrey
    padding: 30px
    box-shadow: 0 20px 0px rgba(0,0,0,0.4)
    position: relative

    #modal-bg
      position: absolute
      right: 0
      bottom: 45px
      z-index: -1

    .close-btn
      position: absolute
      top: 20px
      right: 5%
      height: 50px
      width: 50px
      font-size: 50px
      text-align: center
      color: $grey
      line-height: 30px
      cursor: pointer
      transition: all 100ms ease-in-out

      &:hover
        @include transform(scale(1.3))

    .container
      padding-top: 20px
      max-width: 685px
      margin: 0 auto

      img
        display: inline-block
        margin: 71px 12px

      h2
        font-weight: 300
        font-size: 36px
        display: inline-block
        vertical-align: top
        margin: 71px 0 0
        line-height: 1.1

      p
        text-align: left
        line-height: 1.5
        font-weight: 300
        font-size: 14px
        margin: 40px 0 45px
        background: $lightGrey
        padding: 5px
        color: $grey2
        z-index: 1

      #signup
        position: relative
        height: 150px
        margin-bottom: 30px

        #mc_embed_signup

          form
            color: black
            position: relative
            margin-top: 45px

            #mc_embed_signup_scroll
              position: absolute
              left: 0
              right: 0

              .mc-field-group,
              .clear
                display: inline-block
                vertical-align: top

                input[type="email"]
                  width: 510px
                  height: 56px
                  border-radius: 5px
                  border: none
                  outline: none
                  padding: 20px
                  box-sizing: border-box
                  font-weight: 100

                input[type="submit"]
                  background: $pink
                  border-radius: 5px
                  border: none
                  outline: none
                  color: $white
                  font-size: 18px
                  width: 144px
                  height: 56px

                  &:focus
                    color: rgba($white, 0.6)

              .errors
                text-align: left
                padding: 5px 20px
                color: red
                font-weight: 300
                height: 20px

        #signup-success
          text-align: center
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          display: none

          p
            font-size: 18px
            font-weight: 400
            text-align: center
            margin: 0
            color: $grey2

          img
            margin: 25px 16px 0
            border-radius: 50%

            &:hover
              box-shadow: 1px 3px 1px -1px $grey2
              @include transform(scale(1.2))
              transition: all 200ms cubic-bezier(.17, .67, .3, 2.75)


@media (max-width: 1140px)
  body main
    .app-highlights

      #appFace
        left: 20%

      #pinkDot
        left: 36.2%

      #cyanDot
        left: 43%

      #greenDot
        right: 38.7%

      #pinkPath
        right: 63%

      #cyanPath
        width: 14.5vw

      #greenPath
        left: 60.5%

      #pinkFAQ
        left: 10px
        background: $white

      #greenFAQ
        background: $white

@media (max-width: 1023px)
  body main
    #app-highlights-img
      display: block
      width: 95%
      margin: 0 auto

    .app-highlights
      display: none

@media (max-width: 767px)
  body
    main
      #app-highlights-img
        display: none

      .app-highlights
        display: none

      .container .row
        .platform
          margin: 0 auto 90px
          border-radius: 50%
          width: 277px
          height: 277px
          @include display(flex)
          @include align-items(center)
          @include justify-content(center)
          opacity: 0

        .platform.shadow-pulse
          @include animation(fadeInLeft 1.5s, shadow-pulse 4s 1s infinite)
          opacity: 1

        .platform.shadow-pulse-delay
          @include animation(fadeInRight 1.5s, shadow-pulse 4s 3s infinite)
          opacity: 1

    .modal .container #signup #mc_embed_signup form #mc_embed_signup_scroll
      .mc-field-group,
      .clear
        display: block

        input[type="email"]
          width: 100%
          text-align: center

        input[type="submit"]
          width: 100%
          margin-top: 15px

@media (max-width: 667px)
  body
    nav
      display: none

    section#hero
      height: 555px

      #desktopContent
        display: none

      #mobileContent
        display: block

        h2
          font-size: 48px
          font-weight: 100

        p
          font-size: 18px
          opacity: 0.6

    main
      .container
        h2
          margin: 50px 0 27px

        h3
          margin-bottom: 90px

        .row
          @include flex-direction(column)

          .platform
            margin: 0 auto 90px

        #platform-labels
          display: none

        .cta
          margin: 0 0 47px

    .modal
      .container
        img
          margin: 15px 12px

        h2
          margin: 15px 0 0

        p
          margin: 10px 0 20px

        #signup
          #signup-success
            img
              margin-top: 20px

@media (max-width: 414px)
  body
    main
      .container
        padding: 0 20px

        h2,
        h3
          font-size: 36px

    .modal
      .container
        img
          margin: 15px 12px

        h2
          margin: 15px 0 0
          font-size: 7.8vw
          line-height: 1.5

        p
          margin: 10px 0 20px

@media (max-width: 330px)
  body main .container
    .cta
      font-size: 18px


@media (min-width: 1440px)
  body
    section#hero
      background:
        image: url(http://eyelight.s3-us-west-2.amazonaws.com/assets/img/hero-bg.jpg)
        size: cover
