body
  font-family: $font
  text-align: center
  position: relative
  overflow-x: hidden

  .container
    max-width: 1078px
    margin: 0 auto
    padding: 0 20px

  nav
    background: rgba(0,0,0,0.17)
    position: fixed
    width: 100%
    text-align: left
    z-index: 2

    .container
      #eyelight-logo
        background:
          image: url(http://d2aj6g1i6j6zds.cloudfront.net/assets/img/eyelight-icon.png)
          size: 35px 35px
          repeat: no-repeat
        display: inline-block
        width: 35px
        height: 35px
        position: relative
        border-radius: 10px
        margin: 8px 14px 4px 0

        #blink
          background: $pink
          width: 22px
          height: 20px
          border-radius: 50%
          position: absolute
          top: 9px
          left: 6px
          transition: all 300ms ease-in-out
          @include transform(rotateX(90deg))
          @include transform-origin(50% 0%)

          #blink.blink
            height: 31px

      #eyelight-text
        height: 30px
        position: absolute
        top: 14px

      a
        text-decoration: none

      #about-link
        float: right
        color: $pink
        background: rgba(0,0,0,0.4)
        font-size: 14px
        padding: 7px 27px
        border-radius: 2px
        display: inline-block
        margin-top: 11px

        &:hover
          box-shadow: inset 0 0 5px rgba(0,0,0,0.25)
          transition: all 200ms ease-in-out

  section#hero
    height: 673px
    background:
      image: url(http://d2aj6g1i6j6zds.cloudfront.net/assets/img/hero-bg.jpg)
      position: center
      size: cover
      attachment: fixed
    color: $white
    @include display(flex)
    @include align-items(center)
    @include justify-content(center)
    position: relative
    overflow: hidden

    #mobileContent
      display: none

    .content
      z-index: 1

      h2
        margin: 9px
        font-size: 50px
        font-weight: 400
        @include animation-delay(0s)

      p
        margin: 0
        font-size: 20px
        font-weight: 100
        opacity: 0.8
        @include animation-delay(0.05s)

      .cta
        background: $pink
        color: black
        margin-top: 84px
        color: $white
        @include animation-delay(0.1s)

        &:hover
          background: $mint
          color: black

    #blur
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background:
        image: url(http://d2aj6g1i6j6zds.cloudfront.net/assets/img/hero-bg-blur.jpg)
        position: center top
        attachment: fixed
      opacity: 0


  main
    #app-intro
      background:
        image: url(http://d2aj6g1i6j6zds.cloudfront.net/assets/img/main-img.jpg)
        repeat: no-repeat
        position: center
        size: cover
      height: 730px
      color: $white
      padding: 70px 0

      .container
        p
          font-weight: 300
          margin: 0 auto
          max-width: 632px
          opacity: 0

        #slogan
          font-size: 24px
          font-family: $font2
          font-style: italic
          margin-bottom: 40px
          max-width: none


    #platforms
      background: rgba(#D6D6D6, 0.22)
      padding: 50px 0

      .container
        h3
          font-size: 64px
          font-weight: 300
          font-family: 'Gill Sans', $font
          opacity: 0.65

        .row
          @include display(flex)
          @include align-items(center)
          @include justify-content(space-around)
          max-width: 730px
          margin: 0 auto 50px

          .platform
            border-radius: 50%
            width: 277px
            height: 277px
            background: $white
            @include display(flex)
            @include align-items(center)
            @include justify-content(center)
            opacity: 0

          .platform.shadow-pulse
            @include animation(fadeInLeft 1.5s, shadow-pulse 4s 1s infinite)
            opacity: 1

          .platform.shadow-pulse-delay
            @include animation(fadeInRight 1.5s, shadow-pulse 4s 3s infinite)
            opacity: 1

        .cta
          background: $pink
          margin: 71px 0 92px


  footer
    background: $midnight
    height: 180px
    @include display(flex)
    @include flex-direction(column)
    @include align-items(center)
    @include justify-content(center)

    a
      text-decoration: none
      display: block
      color: $textGreyLight
      font-size: 14px
      font-weight: 100

      &:hover
        color: $textGrey
        transition: all 200ms ease-in-out

    a#twitter
      font-size: 40px
      margin-bottom: 27px

  .cta
    text-decoration: none
    color: $white
    border-radius: 40px
    padding: 15px 70px
    display: inline-block


  // Overlay
  .overlay
    background: rgba(0,0,0,0.75)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    opacity: 0
    pointer-events: none
    transition: all 750ms ease-in-out
    z-index: 3

    &.is-open
      opacity: 1
      pointer-events: auto

  .modal
    max-width: 100%
    background:
      color: $lightGrey
      repeat: no-repeat
      position: bottom right
    padding: 30px
    box-shadow: 0 20px 0px rgba(0,0,0,0.4)
    position: relative
    z-index: 4

    .close-btn
      position: absolute
      top: 20px
      right: 5%
      height: 50px
      width: 50px
      font-size: 50px
      text-align: center
      color: $grey
      line-height: 30px
      cursor: pointer
      transition: all 100ms ease-in-out

      &:hover
        @include transform(scale(1.3))

    .container
      padding-top: 20px
      max-width: 685px
      margin: 0 auto

      img
        display: inline-block
        margin: 71px 12px

      h2
        font-weight: 300
        font-size: 44px
        display: inline-block
        vertical-align: top
        margin: 71px 0 0
        line-height: 0.9

      p
        line-height: 1.5
        font-weight: 300
        font-size: 14px
        margin: 0 0 45px
        padding: 5px
        color: $grey2

      #signup
        position: relative
        height: 150px
        margin-bottom: 30px

        #mc_embed_signup

          form
            color: black
            position: relative
            margin-top: 45px

            #mc_embed_signup_scroll
              position: absolute
              left: 0
              right: 0

              .mc-field-group,
              .clear
                display: inline-block
                vertical-align: top

                input[type="email"]
                  width: 510px
                  height: 56px
                  border-radius: 5px
                  border: none
                  outline: none
                  padding: 20px
                  box-sizing: border-box
                  font-weight: 100

                input[type="submit"]
                  background: $pink
                  border-radius: 5px
                  border: none
                  outline: none
                  color: $white
                  font-size: 18px
                  width: 144px
                  height: 56px

                  &:focus
                    color: rgba($white, 0.6)

              #errors
                height: 30px
                margin-bottom: 5px
                text-align: left
                padding: 0 25px

                p
                  margin: 0
                  color: red
                  font-size: 18px

        #signup-success
          text-align: center
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          display: none

          p
            font-size: 18px
            font-weight: 400
            text-align: center
            margin: 0
            color: $grey2

          img
            margin: 25px 16px 0
            border-radius: 50%

            &:hover
              box-shadow: 1px 3px 1px -1px $grey2
              @include transform(scale(1.2))
              transition: all 200ms cubic-bezier(.17, .67, .3, 2.75)

  .hide
    display: none


@media (max-width: 767px)
  body
    main
      #platforms
        .container .row
          .platform
            margin: 0 auto 90px
            border-radius: 50%
            width: 277px
            height: 277px
            @include display(flex)
            @include align-items(center)
            @include justify-content(center)
            opacity: 0

          .platform.shadow-pulse
            @include animation(fadeIn 1.5s, shadow-pulse 4s 1s infinite)
            opacity: 1

          .platform.shadow-pulse-delay
            @include animation(fadeIn 1.5s, shadow-pulse 4s 3s infinite)
            opacity: 1

    .modal .container #signup #mc_embed_signup form #mc_embed_signup_scroll
      .mc-field-group,
      .clear
        display: block

        input[type="email"]
          width: 100%
          text-align: center

        input[type="submit"]
          width: 100%
          margin-top: 15px

@media (max-width: 667px)
  body
    nav
      display: none

    section#hero
      height: 555px
      background:
        size: auto

      #desktopContent
        display: none

      #mobileContent
        display: block

        h2
          font-size: 48px
          font-weight: 100

        p
          font-size: 18px
          font-weight: 300

    main
      #platforms
        .container
          h2
            margin: 50px 0 27px

          h3
            margin-bottom: 90px

          .row
            @include flex-direction(column)

            .platform
              margin: 0 auto 90px

          #platform-labels
            display: none

          .cta
            margin: 0 0 47px

    .modal
      .container
        img
          margin: 15px 12px

        h2
          margin: 15px 0 0

        p
          margin: 10px 0 20px

        #signup
          #signup-success
            img
              margin-top: 20px

@media (max-width: 500px)
  body main #app-intro .container
    #slogan2
      display: none


@media (max-width: 414px)
  body
    main
      .container
        padding: 0 20px

      #platforms
        h3
          font-size: 36px

    .modal
      .container
        img
          margin: 40px 5px 0

        h2
          margin: 40px 0 0
          font-size: 6.825vw
          line-height: 1.5

        p
          margin: 40px 0 0


@media (max-width: 330px)
  body main .container
    .cta
      font-size: 18px


@media (min-width: 2466px)
  body
    section#hero
      background:
        size: cover
